<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.grocery"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/homeicon"
        android:label="@string/app_name"
        android:roundIcon="@id/home"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Activities.ShopDetailsActivity"></activity>
        <activity android:name=".Activities.EditProductActivity" />
        <activity android:name=".Activities.AddProductActivity" />
        <activity android:name=".Activities.MainUserActivity" />
        <activity android:name=".Activities.MainSellerActivity" />
        <activity android:name=".Activities.ForgotPasswordActivity" />
        <activity android:name=".Activities.RegisterUserActivity" />
        <activity android:name=".Activities.RegisterSellerActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>